{% include "html_page_header.jinja" %}
<h1>Hello</h1>
        <form 
            hx-post="/submit/user" 
            hx-target="body" 
            hx-vals="js:{f3:q1.getSemanticHTML()}" # Get the rich text from the quill editor
        >

            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" maxlength="40"  style="width:50em;">

            <label>F1</label>
            <input name="f1" id="f1" type="text" maxlength="30" style="width:40em;" >

            <label>F2</label>
            <input name="f2" id="f2" type="text" maxlength="15" style="width:20em">

            <label>Some Text</label>
            <div style="simple-edit" name="some_text" id="some_text">Some text here</div>
            <script>
                var q1 = new Quill(
                    "#some_text",
                    {theme:"snow"}
                );
            </script>

            <button type="submit">Go</button>
        </form>
{% include "html_page_footer.jinja" %}



