<html>
    <head>
        <script src="/static/node_modules/htmx.org/dist/htmx.min.js"></script>
        <script src="/static/node_modules/quill/dist/quill.js"></script>

        <link rel="stylesheet" href="/static/custom.css">
        <link rel="stylesheet" href="/static/node_modules/quill/dist/quill.snow.css">


    </head>

    <body>
    <title-bar>
        Headings will go here
    </title-bar>
    <page-content>
